[submodule "external/SFML"]
	path = external/SFML
	url = https://github.com/SFML/SFML.git
[submodule "external/libconfig"]
	path = external/libconfig
	url = https://github.com/hyperrealm/libconfig.git
