[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
[submodule "CMake"]
	path = CMake
	url = https://github.com/Kitware/CMake.git
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
